<p id="notice"><%= notice %></p>

<h1 class="text-3xl">
  <%= link_to '&larr;'.html_safe, tweets_path %>
  Tweet
</h1>
<%= turbo_stream_from 'tweets' %>
<%= turbo_frame_tag dom_id(@tweet) do %>
  <%= render @tweet %>
<% end %>
<%= turbo_stream_from 'comments' %>
<%= turbo_frame_tag 'comments' do %>
  <%= render @comments %>
<% end %>
